
.details-section{
    height: 100dvh;
    width: 100%;
    background: #1d1d1d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 120px;

    .movie_img{
        border: 4px solid #fff;
        margin-bottom: 8px;
    }
    .details-area {
        // border:  1px solid white;
        margin-left: 64px;
    }

    .similarMovies{
        width: 400px;

        .similar_movies-box{
            display: flex;
            flex-wrap: wrap;
        }
        .movie-box{
            height: 160px;
            width: 120px;
            border: 4px solid #fff;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.fa-heart, .fa-star{
    font-size: 20px;
    color: #6ac045;
    margin-bottom: 4px;
}
.fa-imdb{
    font-size: 30px;
    color: #000;
    background: #d4ba34;
}



.p{
    padding: 8px 24px;
}

.green{
    background: #6ac045;
    color: #fff;
}
.blue{
    background: #0bad9f;
    color: #fff;
}
.border{
    border: 1px solid rgb(66, 60, 60);
}
.br{
    border-radius: 4px;
}
