footer{
    height: 100%;
    width: 100%;
    background: #171717;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1170px;
    padding: 24px;
}


.mb-2{
    margin-bottom: 8px;
}
.mr-2{
    margin-right: 8px;
}
.flex{
    display: flex;
}

.text-base{
    font-size: 16px;
}
.text-lg{
    font-size: 18px;
}
.text-xl{
    font-size: 20px;
}
.rounded {
    border-radius: 16px;
}
.bg-4{
    background: #4cb4fe;
    transition: ease-in 0.3s;
    &:hover{
        background: #0099ff;
    }
}
.p-2{
    padding: 4px 16px;
}