.warning-box {
  width: 1170px;
  height: 100%;
  // height: 300px;
  border: 4px solid #6ac045;
  margin-top: 36px;

  .warning-text {
    background: #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 4px 42px;
    padding: 32px;

    .warning_header {
      font-size: 44px;
      font-weight: 600;
      border-bottom: 1px solid #fff;
      padding: 8px 72px;
    }
  }
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 16px;
}
.text {
  color: #4c96d0;
  font-size: 24px;
  font-weight: 600;
}
.color-1 {
  color: #afbd59;
}
.bg-2 {
  background: #6ac045;
}
.p {
  padding: 4px 24px;
}
.mr-3 {
  margin-right: 12px;
}
.rounded {
  border-radius: 4px;
}
